body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(58, 58, 60);
  white-space: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root  {
  --height: 90vh;
  --width: 50vw;
  --max-width: 600px;
  --max-height: 600px;
  --min-width: 400px;
  --min-height: 400px;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: var(--width);
  height: var(--height);
  max-width: var(--max-width);
  max-height: var(--max-height);
  min-height: var(--min-height);
  min-width: var(--min-width);
  background-image: linear-gradient(100deg, rgb(88, 86, 214) 0%, rgb(215, 0, 21) 100%);
  border-radius: 20px;
  transition: all .3s;
  box-sizing: border-box;
  margin: 0;

  &:hover, &:focus {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }

  > div {
    width: var(--width);
    height: var(--height);
    max-width: var(--max-width);
    max-height: var(--max-height);
    min-height: var(--min-height);
    min-width: var(--min-width);
    background-color: rgb(26, 26, 28);
    border-radius: 0;
    transition: all .2s;
    position: static;
    display: block;

    &:hover, &:focus {
      transform: scale(0.98);
      border-radius: 20px;
    }
  }

  .panel {
    display: block;
    margin: 2px;
    padding: 0; 
    position: static;
    height: auto;
    box-sizing: border-box;
  }
 }

